@media(max-width:600px){
    #box{
        width: 300px;
    }
}
div {
   
    width: 500px;
    height: 590px;
    background-color: rgb(247, 247, 247);
    padding: 20px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px; /* 모서리를 둥글게 만듭니다. */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    
}
#label{
    margin-bottom: 5px;
    margin-top: 25px;
    font-size:15px
}
button {
    height: 30px;
    color:white;
    background-color: blue;
    margin: 0 auto;
    position: absolute;
    top: 90%;
    right: 0%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    
    
}
input.green {
    border-color: green;
}

input.red {
    border-color: red;
}
p{
    margin: 0px;
    font-size: 10px;
}